.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  gap: 20px;

  @media (max-width: 480px) {
    gap: 30px;
    align-items: flex-start;
  }

  @media (max-width: 419px) {
    gap: 30px;
    align-items: flex-start;
  }

  @media (max-width: 380px) {
    gap: 20px;
    align-items: flex-start;
  }

  .controls_container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 700px;
    height: 250px;
    gap: 20px;
    padding: 10px;

    @media (max-width: 1400px) and (min-height: 924px) {
      justify-content: center;
    }

    @media (max-width: 1400px) and (max-height: 708px) {
      justify-content: start;
      height: 180px;
    }

    @media (min-width: 1400px) and (max-height: 708px) {
      justify-content: start;
      height: 250px;
    }

    @media (max-width: 710px) {
      justify-content: start;
      height: 250px;
    }

    @media (max-width: 640px) {
      justify-content: start;
      height: 330px;
    }

    @media (max-width: 432px) {
      height: 400px;
    }

    @media (max-width: 386px) {
      height: 470px;
    }

    @media (max-width: 311px) {
      height: 550px;
    }

    .color_container {
      display: flex;
      flex-wrap: wrap;
    }

    .input_container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .bin_value {
        width: 100px;
        height: 25px;
        text-align: center;
        outline: none;
      }
    }

    .button_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }
}
