.container {
  display: flex;
  gap: 10px;

  .select {
    display: flex;
    width: 120px;
    height: 30px;
    font-size: medium;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }
  .reset_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      scale: 1.2;
    }

    &:active {
      scale: 1;
    }
  }
}
