@use "../../styles/vars.scss" as vars;

.outer_container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .inner_container {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    overflow-y: auto;
    font-size: large;
    margin-bottom: 20px;

    @media (max-height: 1440px) {
      height: 700px;
      font-size: x-large;
    }

    @media (max-height: 1080px) {
      height: 400px;
      font-size: larger;
    }

    .row {
      display: grid;
      column-gap: 10px;
      grid-template-columns: repeat(3, 30%);

      .step_title {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 5px;
        word-wrap: break-word;
      }
    }

    .addiction_container {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 5px;

      .row {
        display: grid;
        grid-template-columns: repeat(3, 30%);
      }
    }

    .row_container {
      display: flex;
      flex-direction: column;
      gap: 5px 0;

      .row_three_col {
        display: grid;
        row-gap: 5px;
        column-gap: 10px;
        grid-template-columns: repeat(3, 30%);
      }

      .row_two_col {
        display: grid;
        row-gap: 5px;
        column-gap: 10px;
        grid-template-columns: 30% 60%;
      }

      .step_title {
        display: grid;
        width: 80%;
        gap: 5px;
        word-wrap: break-word;
        grid-column-start: 1;
      }

      .formula {
        display: flex;
        gap: 2px;
        word-wrap: break-word;
      }

      .resultSection {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        justify-self: center;
        font-size: x-large;
      }
    }
  }

  .info_container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;

    @media (max-height: 1440px) {
      height: 380px;
    }

    @media (max-height: 1080px) {
      height: 330px;
    }

    .text_container {
      display: flex;
      word-wrap: break-word;
      transition: 0.2s all;
      padding: 5px;

      @media (max-height: 1440px) {
        height: 320px;
        font-size: x-large;
      }

      @media (max-height: 1080px) {
        height: 270px;
        font-size: larger;
      }
    }

    .buttons_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 60px;
      gap: 25px;
    }
  }
}
