.big_table {
  width: 250px;
  height: 400px;
}

.medium_table {
  width: 170px;
  height: 350px;
}

.small_table {
  width: 150px;
  height: 200px;
}

.smaller_table {
  width: 100px;
  height: 150px;
}
