@use "../../styles/vars.scss" as vars;

$height: 30px;

input[type="text"] {
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 5px;
  width: 200px;
  height: $height;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: none;
  padding: 0px 7px;
  position: relative;
  &:focus {
    outline: none;
  }
  &::placeholder {
    user-select: none;
    -webkit-user-select: none;
  }
}
