.table {
  display: flex;
}

.big_table {
  width: 800px;
  height: 650px;
}

.medium_table {
  width: 600px;
  height: 350px;
}

.x_medium_table {
  width: 450px;
  height: 250px;
}

.small_table {
  width: 350px;
  height: 200px;
}

.smaller_table {
  width: 300px;
  height: 150px;
}

.x_small_table {
  width: 250px;
  height: 150px;
}
