@use "../../styles/vars.scss" as vars;

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 500px;
  gap: 10px;
  overflow-x: auto;
  border-radius: vars.$border_radius;
  background-color: vars.$bg_color;
  transition: 0.5s all;

  @media (max-width: 560px) {
    width: 300px;
  }

  @media (max-width: 370px) {
    width: 200px;
  }

  .title_digits {
    display: flex;
    align-self: flex-start;
    margin-top: 11px;
    font-size: large;
  }

  .outer_container_for_numbers {
    display: flex;
    overflow-x: auto;
    max-width: 350px;

    .numbers_container {
      display: flex;
      flex-direction: row;
      height: 70px;
      justify-content: center;
      align-items: center;
      font-size: x-large;

      .digit {
        display: flex;
        justify-content: center;
        font-size: medium;
        color: white;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: 20px;
      }

      .light_digit {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }

      .dark_digit {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
      }

      .number {
        display: flex;
        justify-content: center;
        width: 20px;
        align-items: center;
      }

      .light_number {
        color: black;
        background-color: white;
        border-right: 1px solid black;
      }

      .dark_number {
        color: vars.$text_color;
        background-color: vars.$dark_bg_color;
        border-right: 1px solid white;
      }

      .sing {
        border-right: 3px solid red;
      }

      .selected {
        background-color: yellow;
        color: black;
      }

      .isbigger {
        background-color: limegreen;
      }

      .islower {
        background-color: red;
      }
    }
  }
}

.light {
  color: vars.$text_color;
  background-color: vars.$light_bg_color;
}

.dark {
  color: vars.$text_color;
  background-color: vars.$dark_bg_color;
}
