.table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .multiply_number_container {
    border: 1px solid red;
  }

  .result_number {
    border: 1px solid lightgreen;
  }

  .row {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    gap: 10px;

    .cell {
      border-right: 1px solid black;

      &::selection {
        color: black;
        background-color: red;
      }

      &::-moz-selection {
        color: black;
        background-color: red;
      }
    }
  }
}
